.card {
    width: 480px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card-list {
    max-height: 400px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    padding-right: 10px;
}

.card-list::-webkit-scrollbar {
    width: 5px;
}

.card-list::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 4px;
}

.card-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.card-icon {
    margin-right: 15px;
}

.card-content {
    flex: 1;
}

.card-content p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.card-content span {
    font-size: 14px;
    color: #777;
}

.card-p {
    font-size: 16px;
    color: #555;
}

.section-anamneses {
        padding: 20px;
        display: grid;
        flex-direction: row;
        align-items: flex-start; 
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        height: 100%; 
        margin-top: 10px;
}