.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    /* width: calc(100% - 240px); */
    /* height: 50px; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.topbar h2 {
    margin: 0;
    color: #E8751A;
}

.topbar-icons {
    display: flex;
    gap: 20px;
}

.icon {
    font-size: 24px;
    cursor: pointer;
    color: #7C838A;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #A1DD70;
}
