/* Estilos do modal */
.modal-content-consulta {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

/* Overlay do modal */
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Título do modal */
.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Botão de fechar */
.modal-close-button, .modal-close-button-nenhuma-consulta {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #7C838A;
    cursor: pointer;
}

.modal-close-button:hover, .modal-close-button-nenhuma-consulta:hover {
    color: #FC6000;
}

/* Icone de ajuda */
.icon-consultas {
    position: absolute;
    /* top: 10px; */
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #7C838A;
}

.icon-consultas:hover {
    color: #FC6000;
}

/* Tela sem consultas cadastradas */
.no-consultas {
    text-align: center;
    padding: 20px;
}

.no-consultas p {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.nova-consulta-button {
    background-color: #A1DD70;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 15px;
    /* margin-left: 135px; */
    
}

.nova-consulta-button:hover {
    background-color: #617A55;
}

/* Histórico de Consultas */
.historico-consultas {
    margin-top: 20px;
}

.historico-consultas h3 {
    font-size: 20px;
    font-weight: bold;
    color: #FC6000;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
}

.historico-consultas ul {
    max-height: 200px;
    overflow-y: auto;
}


.historico-consultas li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.historico-consultas li:hover {
    background-color: #f0f0f0;
}

.historico-consultas li span {
    font-weight: bold;
    color: #333;
}

/* Estilo para os botões de ações dentro das consultas */
.nova-antropometria-button, .visualizar-anamnese-button {
    background-color: #617A55;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.nova-antropometria-button:hover, .visualizar-anamnese-button:hover {
    background-color: #A1DD70;
}

/* Tela de cadastro de nova consulta */
.modal-body-consulta {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 700px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

.input-consultas {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.input-consultas:focus {
    border-color: #FC6000;
}

.input-error {
    border-color: red;
}

.error-message-modal {
    font-size: 12px;
    color: red;
    margin-top: 5px;
}

.radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.radio-group input {
    margin-right: 5px;
}

.editor-consultas {
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

.success-modal {
    background-color: #A1DD70;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}

/* Estilo para o modal de visualização da anamnese */
.modal-content-anamnese {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.modal-content-anamnese h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.modal-content-anamnese button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #7C838A;
    cursor: pointer;
}

.modal-content-anamnese button:hover {
    color: #FC6000;
}
