/* Importação da fonte já foi feita no index.html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

/* Classes para diferentes estilos de fonte */
.poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.poppins-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.poppins-semibold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
