.breadcrumb {
    margin: 10px 0px 0px 10px;
    font-size: 14px;
}

.breadcrumb a {
    color: #E8751A;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb .active {
    font-weight: bold;
    color: #333;
    cursor: default;
}