.main-container {
    display: flex;
    height: 100vh;
}

.content-container-home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content-home {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    height: 100%; 
    /* margin-top: 10px; */
    background-color: #f0f2f5;
}

.section-title {
    font-size: 24px;
    color: #4E6033;
    margin-bottom: 10px;
}

.section-content {
    background-color: #f9fbfc;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    box-sizing: border-box;
}

.section-header {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.search-input {
    flex: 1; 
    padding: 10px 40px 10px 15px; 
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 70%;
}

.search-icon {
    position: absolute;
    right: 15px;
    color: #888;
    font-size: 18px;
    margin-bottom: 10px;
    pointer-events: none;
}

.suggestions-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.suggestion-item {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.suggestion-item:hover {
    background-color: #f5f5f5;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.buttonHome {
    margin-bottom: 10px;
    width: 30%;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    background-color: #799351;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonHome:hover {
    background-color: #A1DD70;
}

.buttonHome:active {
    background-color: #6B8E23;
    transform: scale(0.98);
}

.card-list {
    display: grid;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    width: 480px;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-icon-home {
    width: 50px;
    height: 50px;
    background-color: #E0EDE0;
    border-radius: 50%;
    margin-right: 15px;
    display: flex; 
    align-items: center;
    justify-content: center
}

.card-content p {
    font-size: 16px;
    margin: 0;
    color: #3C3D37;
}

.card-content span {
    font-size: 12px;
    color: #888;
}

.card-p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3C3D37;
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.modal-button {
    outline: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    background-color: #799351;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    max-width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 5px;
}

.modal-button:hover {
    background-color: #A1DD70;
}


.buttonSave, .buttonCancel {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.buttonSave {
    background-color: #4CAF50;
    color: white;
}

.buttonCancel {
    background-color: #f44336;
    color: white;
}

/* Responsividade */
@media (max-width: 1024px) {
    .card {
        flex: 1 1 calc(50% - 15px); /* Dois cards por linha em tablets */
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%; /* Um card por linha em telas pequenas */
    }
}
