.main-container {
    display: flex;
    height: 100vh;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* O container expande para preencher o espaço restante */
}

.topbar {
    /* height: 50px; */
    background-color: #f0f2f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 100%;
}

.content {
    flex-grow: 1; /* Garante que o conteúdo ocupe o espaço restante */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}
