.signin-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.signin-left,
.signin-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-left {
    background-color: #f0f2f5;
}

.signin-image {
    max-width: 68%;
    height: auto;
    border-radius: 15px;
}

.signin-right {
    background-color: white;
    border-top-left-radius: 20px;   
    border-bottom-left-radius: 20px;
}

.signin-content {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.signin-logo-image {
    width: 100%;
    max-width: 350px;
    margin-bottom: 60px;
}

.signin-title {
    font-size: 20px;
    color: #3C3D37;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-label {
    display: block;
    font-size: 14px;
    color: #676767;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    border: 2px solid #A1DD70;
    outline: none;
}

.password-container {
    position: relative;
    width: 100%;
}

/* visibilidade da senha */
.password-toggle {
    position: absolute;
    right: -140px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: #676767;
}

.button {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: #A1DD70;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #6a994e;
}

/* Outros links */
.signin-footer {
    margin-top: 20px;
    font-size: 14px;
}

.signin-footer p {
    margin: 5px 0;
}

.signin-footer a {
    color: #6a994e;
    text-decoration: none;
}

.signin-footer a:hover {
    text-decoration: underline;
}
