.sidebar {
    width: 240px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: #7C838A;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.logo-image {
    width: 80%;
    max-width: 350px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.menu {
    flex-grow: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 15px;
    color: #7C838A;
    text-decoration: none;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.menu-item:hover {
    background-color: #A1DD70;
    color: white;
}

.menu-item.active {
    color: #4E6033;
    background-color: transparent;
    font-weight: bold;
}

.menu-icon {
    font-size: 20px;
    margin-right: 10px;
}

.menu-text {
    font-size: 16px;
}

.signout {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 15px;
    color: #7C838A;
    text-decoration: none;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
}

.signout:hover {
    background-color: #A1DD70;
}
